                    <div class="row" style="background-color:#fff">
                        <div class="6u skel-cell-important">

                            <img src="/assets/images/venn_diagram.jpg">


                        </div>
                        <div class="6u skel-cell-important">

                                <article class="box post">
                                    <p>We are seeking and sharing inspiration for the personal and professional - knowlingly or unknowlingly.
                                        Every journey has a story behind it, and we are looking to bring forth [...]</p>
                                    <footer>
                                        <a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Magna sed taciti</a>
                                    </footer>
                                </article>

                        </div>
                    </div>
