                    <div class="row" style="background-color:#fff">
                        <div class="6u skel-cell-important">

                            <img src="/assets/images/venn_diagram.jpg">


                        </div>
                        <div class="6u skel-cell-important">

                                <article class="box post">
                                    <p>Knowingly and unknowingly we are always trying to bring order to our lives by making <b>"Lists"</b>, but we forget that <b>"Plot Twists" </b> are the rule of nature!!<br><br> 
                                    Weaving these twists into fabric of life while managing the ever growing lists is the narrative that forms central identity of women in this <b>“Blog and Podcast series”</b> <br><br>
                                    TThis is our attempt to offer more than just a glimpse into lives of these ordinary yet extraordinary women, who manage the orderly and disorderly stories on both personal and professional fronts. </p>
                                    <footer>
                                        <a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Check out Our Recent Post</a>
                                    </footer>
                                </article>

                        </div>
                    </div>
