	<!-- Footer -->
		<div id="footer-wrapper">
			<section id="footer" class="container">
				<div class="row">
					<div class="12u">
						<h2>Discover our Story Tellers</h2>
						<nav id="nav">
							<ul class="links">
								<li><a href="{{ site.baseurl }}/storytellers/rookie.html">Rookie</a></li>
								<li><a href="{{ site.baseurl }}/storytellers/explorer.html">Explorer</a></li>
								<li><a href="{{ site.baseurl }}/storytellers/creator.html">Creator</a></li>
								<li><a href="{{ site.baseurl }}/storytellers/nurturer.html">Nurturer</a></li>
								<li><a href="{{ site.baseurl }}/storytellers/rebel.html">Rebel</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</section>
		</div>
		<div id="copyright">
			Disclaimer: The opinions expressed on this website belong to individuals interviewed, and are not representative of their affiliations.
		</div>
	</body>
</html>
