<!-- Header -->
  <nav id="socialnav">
    <ul>
      <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
      <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
      <li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
      <li><a class="icon fa-soundcloud" href="#"><span class="label">Soundcloud</span></a></li>
    </ul>
  </nav>
<div id="header-wrapper">
	<div id="header">
		<!-- Logo -->
			<h1><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
      <h4><i>{{ site.description }}</i></h4><br>
			{% include nav.html %}
	</div>
</div>