<!-- Nav -->

<div id="header-wrapper">
  <header>
    <div id="logo">
          <h1><a href="{{ site.baseurl }}/index.html">{{ site.name }}</a></h1>
          <h4>{{ site.description }}</h4><br>
    </div>
    <nav id="nav"> 
      <ul class="nav">
          <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
          <li><a href="{{ site.baseurl }}/about.html">About</a></li>
          <li><a href="{{ site.baseurl }}/series.html">Series</a></li>
          <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
          <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
          <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
          <li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
          <li><a class="icon fa-soundcloud" href="#"><span class="label">Soundcloud</span></a></li>
        </ul>
    </nav>
  </header>
</div>
<!-- 	<nav id="nav">
		<ul>
			<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li><a href="{{ site.baseurl }}/about.html">About</a></li>
			<li><a href="{{ site.baseurl }}/series.html">Series</a></li>
			<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
		</ul>
	</nav>
 -->