{% include header.html %}
{% include header_landing.html %}
  <body class="no-sidebar">
    <!-- Main -->
    <div id="main-wrapper">
      <div class="container">
<!--             <article class="box post">
              <a href="#" class="image featured"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
              <header>
                <h2>{{ page.title }}</h2>
                <p>Posted {{ page.date | date_to_string }}</p>
              </header>
              <section>
                {{ page.podcast }}
              </section>
            </article>
 -->

          <!-- Content -->
        <div class="row">
          <div class="5u -1u">
            <a href="#" class="image featured"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
<!--               <section>
                {{ page.podcast }}
              </section>
 -->          </div>
          <div class="5u">
            <article class="box post">
              <h3 style="text-align:center">Meet</h3>
              <h2 id="profile-title">{{ page.title }}</h2>
              <p style="padding:3em; text-align:center">I’m Aditi Rajagopal. I’m that short girl with the occasional soap box, and the diehard Michigan fan. I always have a side project or two and a couple of tricks up my sleeve.</p>
            </article>

          </div>

        <div class="row">
          <div class="8u">
            <article class="box post">
            {{ page.content }}
            </article>
          </div>
          <div class="4u">
            <article class="box post">
              <header>
                <h2>Fast Facts</h2>
              </header>
              <section>
                  <p class="profile-text"><b>Years in the Field:</b> 2</p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Current Role:</b> Software Engineer, IBM</p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Alma Mater:</b> University of Michigan</p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Interview Date:</b> {{ page.date | date_to_string }}</p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Personal Links:</b> @aditi_rajagopal, aditirajagopal.com</p>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>

</div>
{% include footer.html %}