{% include header.html %}
{% include header_landing.html %}
  <body class="no-sidebar">
    <!-- Main -->
    <div id="main-wrapper">
      <div class="container">
          <!-- Content -->
        <div class="row">
          <div class="5u -1u">
            <a href="#" class="image featured"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
          </div>
          <div class="5u">
            <article class="box post">
              <h3 style="text-align:center">Meet</h3>
              <h2 id="profile-title">{{ page.title }}</h2>
              <p style="padding:3em; text-align:center"> {{ page.aboutme }} </p>
            </article>

          </div>

        <div class="row">
          <div class="8u">
            <article class="box post">
            {{ page.content }}
            </article>
          </div>
          <div class="4u">
            <article class="box post">
              <header>
                <h2>Fast Facts</h2>
              </header>
              <section>
                  <p class="profile-text"><b>Years in the Field:</b> {{ page.yearsinfield }} </p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Current Role:</b> {{ page.role }} </p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Alma Mater:</b> {{ page.almamater }} </p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Interview Date:</b> {{ page.date | date_to_string }}</p>
                  <hr class="fastfacts">
                  <p class="profile-text"><b>Personal Links:</b>  {{ page.links }} </p>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>

</div>
{% include storytellers.html %}
{% include footer.html %}